<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration>
	<!-- Level List (all|trace|debug|info|warn|error|fatal|off|null) -->

	<!-- Appenders -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date %-5level %logger{0} - %msg%n</pattern>
		</encoder>
	</appender>
	
	
    <!-- package setting -->
	<logger name="org.springframework.core" level="INFO" />
	<logger name="org.springframework.beans" level="ERROR" />
	<logger name="org.springframework.context" level="INFO" />
	<logger name="org.springframework.web" level="INFO" />
	<logger name="java.sql.PreparedStatement" level="ERROR" />
	<logger name="java.sql.ResultSet" level="ERROR" />
	<logger name="org.apache.ibatis" level="ERROR" />
	<logger name="org.mybatis.spring" level="DEBUG" />
	<logger name="com.zaxxer.hikari" level="ERROR" />

	<logger name="org.apache.zookeeper" level="ERROR" />
	<logger name="com.zaxxer.hikari" level="ERROR" />
	<logger name="HikariPool" level="ERROR" /> <!-- HealthCheck Log Debug -->
	
	<logger name="study.mmp" level="DEBUG" />

	<!-- Root Logger -->
	<root level="INFO">
		<appender-ref ref="console" />
	</root>
	
</configuration>